In [11]:
#Import Python Libraries
import numpy as np
#import scipy as sp
import pandas as pd
#import matplotlib.pyplot as plt
#import seaborn as sns

### Missing Values

In [54]:
#flights = pd.read_csv("d:/flights.csv")
flights = pd.read_csv("flights.csv") #your code
flights.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [64]:
# เลือกข้อมูลที่มี missing value (use isnull()) อย่างน้อย 1 ตัว (use .any(axis=1)) ในแต่ละแถว 
# df[df.method()]

#your code
#flights.isnull()
#df = flights[flights.isnull().any(axis=1)]
#df
flights[flights.isnull().any(axis=1)]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
859,2013,1,2,NaN,NaN,NaN,NaN,AA,N3FBAA,753,LGA,DFW,NaN,1389,NaN,NaN
860,2013,1,2,NaN,NaN,NaN,NaN,UA,NaN,623,EWR,ORD,NaN,719,NaN,NaN
1067,2013,1,3,1348.0,-2.0,1821.0,NaN,DL,N324NB,1705,LGA,MSY,NaN,1183,13.0,48.0
1275,2013,1,3,NaN,NaN,NaN,NaN,AA,N487AA,321,LGA,ORD,NaN,733,NaN,NaN
1276,2013,1,3,NaN,NaN,NaN,NaN,AA,N3AMAA,327,LGA,ORD,NaN,733,NaN,NaN
1277,2013,1,3,NaN,NaN,NaN,NaN,AA,N3GXAA,717,LGA,DFW,NaN,1389,NaN,NaN
1278,2013,1,3,NaN,NaN,NaN,NaN,AA,N201AA,721,LGA,DFW,NaN,1389,NaN,NaN
1279,2013,1,3,NaN,NaN,NaN,NaN,AA,N3FVAA,731,LGA,DFW,NaN,1389,NaN,NaN
1280,2013,1,3,NaN,NaN,NaN,NaN,AA,N573AA,1757,LGA,STL,NaN,888,NaN,NaN
1281,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,714,EWR,MIA,NaN,1085,NaN,NaN
1282,2013,1,3,NaN,NaN,NaN,NaN,UA,NaN,719,EWR,DFW,NaN,1372,NaN,NaN
1700,2013,1,4,NaN,NaN,NaN,NaN,AA,N541AA,721,LGA,DFW,NaN,1389,NaN,NaN
1701,2013,1,4,NaN,NaN,NaN,NaN,AA,N3BGAA,745,LGA,DFW,NaN,1389,NaN,NaN
1702,2013,1,4,NaN,NaN,NaN,NaN,AA,N200AA,883,EWR,DFW,NaN,1372,NaN,NaN
1703,2013,1,4,NaN,NaN,NaN,NaN,AA,N569AA,2223,LGA,STL,NaN,888,NaN,NaN
2035,2013,1,5,NaN,NaN,NaN,NaN,AA,N544AA,883,EWR,DFW,NaN,1372,NaN,NaN
2852,2013,1,7,NaN,NaN,NaN,NaN,AA,N3CYAA,301,LGA,ORD,NaN,733,NaN,NaN
2853,2013,1,7,NaN,NaN,NaN,NaN,AA,N474AA,1757,LGA,STL,NaN,888,NaN,NaN
3019,2013,1,8,1119.0,-2.0,1521.0,NaN,UA,N26208,1493,EWR,DEN,NaN,1605,11.0,19.0
3282,2013,1,8,NaN,NaN,NaN,NaN,AA,N484AA,1855,LGA,STL,NaN,888,NaN,NaN
3283,2013,1,8,NaN,NaN,NaN,NaN,US,NaN,123,EWR,CLT,NaN,529,NaN,NaN
3713,2013,1,9,NaN,NaN,NaN,NaN,AA,N3BVAA,739,LGA,DFW,NaN,1389,NaN,NaN
3714,2013,1,9,NaN,NaN,NaN,NaN,AA,N3BWAA,759,LGA,DFW,NaN,1389,NaN,NaN
3715,2013,1,9,NaN,NaN,NaN,NaN,AA,N466AA,1855,LGA,STL,NaN,888,NaN,NaN
3716,2013,1,9,NaN,NaN,NaN,NaN,UA,NaN,421,LGA,IAH,NaN,1416,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155989,2013,9,19,NaN,NaN,NaN,NaN,UA,NaN,685,LGA,ORD,NaN,733,NaN,NaN
156056,2013,9,20,752.0,11.0,1538.0,NaN,UA,N38268,1591,EWR,IAH,NaN,1400,7.0,52.0
156451,2013,9,20,NaN,NaN,NaN,NaN,AA,N425AA,301,LGA,ORD,NaN,733,NaN,NaN
156452,2013,9,20,NaN,NaN,NaN,NaN,AA,N4XDAA,317,LGA,ORD,NaN,733,NaN,NaN
156453,2013,9,20,NaN,NaN,NaN,NaN,UA,NaN,687,LGA,ORD,NaN,733,NaN,NaN
156791,2013,9,21,NaN,NaN,NaN,NaN,US,NaN,581,EWR,CLT,NaN,529,NaN,NaN
156792,2013,9,21,NaN,NaN,NaN,NaN,UA,NaN,330,EWR,BOS,NaN,200,NaN,NaN
156850,2013,9,22,755.0,-4.0,1428.0,NaN,AA,N584AA,307,LGA,ORD,NaN,733,7.0,55.0
157029,2013,9,22,1514.0,3.0,2000.0,NaN,UA,N515UA,745,LGA,DEN,NaN,1620,15.0,14.0
157208,2013,9,22,NaN,NaN,NaN,NaN,US,NaN,565,EWR,CLT,NaN,529,NaN,NaN
157209,2013,9,22,NaN,NaN,NaN,NaN,US,NaN,2154,LGA,BOS,NaN,184,NaN,NaN
157668,2013,9,23,NaN,NaN,NaN,NaN,US,NaN,2148,LGA,BOS,NaN,184,NaN,NaN
157669,2013,9,23,NaN,NaN,NaN,NaN,UA,NaN,691,LGA,ORD,NaN,733,NaN,NaN
157751,2013,9,24,800.0,0.0,NaN,NaN,UA,N827UA,544,LGA,ORD,NaN,733,8.0,0.0
158115,2013,9,24,NaN,NaN,NaN,NaN,AA,N4XUAA,345,LGA,ORD,NaN,733,NaN,NaN
158415,2013,9,25,1552.0,-7.0,2048.0,NaN,UA,N408UA,375,EWR,SEA,NaN,2402,15.0,52.0
158566,2013,9,25,2052.0,7.0,332.0,NaN,DL,N3731T,347,JFK,SJU,NaN,1598,20.0,52.0
158576,2013,9,25,NaN,NaN,NaN,NaN,US,NaN,2148,LGA,BOS,NaN,184,NaN,NaN
158577,2013,9,25,NaN,NaN,NaN,NaN,US,NaN,2160,LGA,BOS,NaN,184,NaN,NaN
158809,2013,9,26,1331.0,2.0,1923.0,NaN,UA,N67052,15,EWR,HNL,NaN,4963,13.0,31.0
159048,2013,9,26,NaN,NaN,NaN,NaN,US,NaN,2183,LGA,DCA,NaN,214,NaN,NaN
159278,2013,9,27,1332.0,3.0,1629.0,NaN,AA,N565AA,331,LGA,ORD,NaN,733,13.0,32.0
159518,2013,9,27,NaN,NaN,NaN,NaN,AA,N584AA,301,LGA,ORD,NaN,733,NaN,NaN
159519,2013,9,27,NaN,NaN,NaN,NaN,US,NaN,2164,LGA,BOS,NaN,184,NaN,NaN
159520,2013,9,27,NaN,NaN,NaN,NaN,UA,NaN,269,LGA,ORD,NaN,733,NaN,NaN
159681,2013,9,28,1214.0,-11.0,1801.0,NaN,AA,N488AA,300,EWR,DFW,NaN,1372,12.0,14.0
159854,2013,9,28,NaN,NaN,NaN,NaN,AA,N320AA,1,JFK,LAX,NaN,2475,NaN,NaN
159855,2013,9,28,NaN,NaN,NaN,NaN,US,NaN,581,EWR,CLT,NaN,529,NaN,NaN
160185,2013,9,29,1734.0,23.0,2159.0,NaN,UA,N463UA,327,EWR,PDX,NaN,2434,17.0,34.0
160286,2013,9,29,NaN,NaN,NaN,NaN,UA,NaN,331,LGA,ORD,NaN,733,NaN,NaN

In [25]:
# เลือก arr_delay ที่มีค่า missing value
flights1 = flights[flights["arr_delay"].isnull()]#your code
flights1.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN

In [27]:
# เลือกข้อมูลทั้งหมดที่ไม่มี missing value (use dropna())
flights2_nomissing = flights.dropna()#your code
flights2_nomissing.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
5,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0
6,2013,1,1,558.0,-2.0,924.0,7.0,UA,N29129,194,JFK,LAX,345.0,2475,5.0,58.0
7,2013,1,1,558.0,-2.0,923.0,-14.0,UA,N53441,1124,EWR,SFO,361.0,2565,5.0,58.0
8,2013,1,1,559.0,-1.0,941.0,31.0,AA,N3DUAA,707,LGA,DFW,257.0,1389,5.0,59.0
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0

In [31]:
# เปลี่ยนค่า missing values ของ dep_delay ด้วยค่าศูนย์ (use fillna(value))
nomiss = flights['dep_delay'].fillna(0)#your code


# ตรวจสอบว่า nomiss เป็น null หรือไม่ (use isnull()) จะให้ค่า True or False (any()) ถ้าเป็น null จะมีค่าเป็น true

#your code
nomiss.isnull().sum()

0

In [34]:
# เปลี่ยนค่า missing values  (use fillna(value) )ของ dep_delay ด้วยค่าเฉลี่ยของ dep_delay
#หรือจะใช้คำสั่ง mean_dep_delay = np.mean(flights['dep_delay'])

mean_dep_delay = np.mean(flights['dep_delay'])#your code

print("ค่าเฉลี่ยของ dep_delay",mean_dep_delay)

average_nomiss = flights['dep_delay'].fillna(mean_dep_delay)#your code

ค่าเฉลี่ยของ dep_delay 9.46377305609211

In [35]:
average_nomiss

0          2.0
1          4.0
2          2.0
3         -6.0
4         -4.0
5         -2.0
6         -2.0
7         -2.0
8         -1.0
9         -1.0
10        -8.0
11        -4.0
12        -4.0
13         0.0
14        11.0
15         0.0
16        -8.0
17        13.0
18        -4.0
19        -3.0
20        -2.0
21        -2.0
22        -1.0
23        -1.0
24         0.0
25        -3.0
26        -2.0
27         8.0
28         1.0
29         1.0
          ...
160724    -5.0
160725    -7.0
160726    -5.0
160727    -5.0
160728    91.0
160729     1.0
160730    -1.0
160731    33.0
160732     0.0
160733    13.0
160734     0.0
160735     0.0
160736    -1.0
160737    -3.0
160738    -2.0
160739    78.0
160740    -5.0
160741   -13.0
160742     6.0
160743    -4.0
160744   -12.0
160745     5.0
160746    -7.0
160747    -4.0
160748    -3.0
160749    -1.0
160750    21.0
160751     0.0
160752    -7.0
160753    80.0
Name: dep_delay, Length: 160754, dtype: float64

In [ ]:
# นับจำนวน missing values (use sum()) ที่อยู่ในแต่ละ dep_delay, arr_delay attribute

# your code

In [ ]:
#นับจำนวน missing value ของ dep_delay และ arr_delay ทั้งหมด

# your code

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

In [37]:
# Find the number of non-missing values in each column
# นับจำนวนที่ไม่ใช่ missing value ของแต่ละ attribute

# your code
flights.count()

year         160754
month        160754
day          160754
dep_time     158418
dep_delay    158418
arr_time     158275
arr_delay    157927
carrier      160754
tailnum      159321
flight       160754
origin       160754
dest         160754
air_time     157927
distance     160754
hour         158418
minute       158418
dtype: int64

In [46]:
# Find minimum value for all the columns in the dataset

# your code
flights.max()

year         2013
month          12
day            31
dep_time     2400
dep_delay    1014
arr_time     2400
arr_delay    1007
carrier        US
flight       2599
origin        LGA
dest          TPA
air_time      695
distance     4963
hour           24
minute         59
dtype: object

In [49]:
#หาค่าเฉลี่ยของ (use .mean()) dep_delay แยกตามกลุ่ม "carrier" [](use groupby())

# your code
flights.groupby("carrier")['dep_delay'].mean()

carrier
AA     8.586016
AS     5.804775
DL     9.264505
UA    12.106073
US     3.782418
Name: dep_delay, dtype: float64

In [42]:
#ใช้ agg() method เพื่อหา min, max, mean  ของ dep_delay,arr_delay

# your code
flights.agg(['min','max','mean'])

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,AA,1.000000,EWR,ANC,21.000000,17.00000,0.000000,0.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,US,2599.000000,LGA,TPA,695.000000,4963.00000,24.000000,59.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,NaN,1156.344987,NaN,NaN,180.685158,1282.44542,12.837582,32.387847

### Basic descriptive statistics

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|std  | standard deviation
|var | unbiased variance
|sem | standard error of the mean
|skew| sample skewness
|kurt|kurtosis
|quantile| value at %

In [ ]:
# คำนวณหาค่าสถิติพื้นฐานของ dep_delay (use describe())

# your code

In [45]:
# Count the number of records for each different value in a vector
#เหมือน flights.groupby('carrier')['carrier'].count()  (use value_counts() )

# your code
flights.groupby('origin')['day'].count()

origin
EWR    59035
JFK    42013
LGA    59706
Name: day, dtype: int64

In [50]:
# use count()
flights.count()

year         160754
month        160754
day          160754
dep_time     158418
dep_delay    158418
arr_time     158275
arr_delay    157927
carrier      160754
tailnum      159321
flight       160754
origin       160754
dest         160754
air_time     157927
distance     160754
hour         158418
minute       158418
dtype: int64