In [ ]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Explore data using graphics

In [ ]:
movies = ["Annie Hall", "Ben-Hur", "Casablanca", "Gandhi", "West Side Story"]
num_oscars = [5, 11, 3, 8, 10]

xs = range(len(movies)) # xs is range(5)

# plot bars with left x-coordinates [xs], 
# heights [num_oscars]
# plt.bar(range, value, color=('r','g','b','r','b'))
# plt.bar(range, value)

# label x-axis with movie names at bar centers
# plt.xticks(range, value)

# alternatively, use the following to replace 
# the two lines above
#plt.bar(xs, num_oscars, tick_label=movies)

plt.ylabel("# of Academy Awards")
plt.title("My Favorite Movies")
plt.show()

In [ ]:
years = list(range(1950, 2011, 10))
gdp1 = [300.2, 543.3, 1075.9, 2862.5, 5979.6, 10289.7, 14958.3]
gdp2 = [226.0, 362.0, 928.0, 1992.0, 4931.0, 7488.0, 12147.0]
gdp3 = [1206.0, 1057.0, 1081.0, 2940.0, 8813.0, 13502.0, 19218.0]

# create a line chart, years on x-axis, gdp on y-axis
# use format string to specify color, marker, and line style
# e.g. ‘bo-’: color=‘blue’, marker=‘o’, linestyle=‘solid’
plt.plot(years, gdp1, "bo-", years, gdp2, "r:", years, gdp3, "gd-.")
         
# add a title "Nominal GDP"
# plt.title(...)
         
# add a label "Billions of $" to the y-axis
# plt.ylabel(...)
         
# add a label "Year" to the x-axis
# plt.xlabel(...)
         
# add legend "countryA", "countryB", "countryC"
# plt.legend(...)
plt.show()

In [ ]:
movies = ["Annie Hall", "Ben-Hur", "Casablanca", "Gandhi", "West Side Story"]
num_oscars = [5, 11, 3, 8, 10]

#sns.barplot(range, value,palette=('r','g','b','r','b')).set(ylabel = "# of Academy Awards", title ='My Favorite Movies')
# or
#sns.barplot(range, value).set(ylabel = "# of Academy Awards", title ='My Favorite Movies')

# your code

plt.show()

In [ ]:
df = pd.read_csv("Salaries.csv")
df.head()

In [ ]:
#Show graphs withint Python notebook
%matplotlib inline

In [ ]:
#Use matplotlib to draw a histogram of a salary data
#plt.hist(df['salary'],bins=8, [color = 'color', edgecolor = 'color'])

In [ ]:
# ใช้ dataframe เพื่อ plot pieplot rank,salary
# dataframe.groupby(['col'])['col'].count().plot(kind='pie')

# your code

In [ ]:
#การ plot pie graph โดยใช้ matplot 
# 1. dataframe.groupby(['col'])['col'].count() แบ่งกลุ่มและนับข้อมูล
# 2. plt.pie(value จากข้อ 1, labels=value จากข้อ 1.index)

rank_salary = #your code
plt.pie( ... )

In [ ]:
# ใช้ dataframe เพื่อ plot bar rank,salary
# dataframe.groupby(['col'])['col'].count().plot(kind='bar')

In [ ]:
# ใช้ dataframe เพื่อ plot pie service,salary
# dataframe.groupby(['col1'])['col2'].count().plot(kind='pie', x='title col1', y='title col2')

In [ ]:
# scatter plot service,salary
# plt.scatter(dataframe['col1'], dataframe['col2'], color = "red")

In [ ]:
#Use seaborn package to draw a histogram [salary]
# sns.distplot(dataframe['col']);

In [ ]:
# Use regular matplotlib function to display a barplot ['rank','salary']
# dataframe.groupby(['col'])['col'].count().plot(kind='bar')

In [ ]:
# Use seaborn package to display a barplot 'rank','salary'
# sns.set_style("whitegrid")
# ax = sns.barplot(x='col1',y ='col2', data=dataframe, estimator=len)

In [ ]:
# Split into 2 groups: 'rank','salary','sex'
# ax = sns.barplot(x='col_groups1',y ='col_value', hue='col_groups2',  data=dataframe, estimator=len)

In [ ]:
#If we are interested in linear regression plot for 2 numeric variables we can use regplot
# service,salary
# sns.regplot(x='col1', y='col2', data=dataframe)

In [ ]:
# box plot 'rank','salary'
# sns.boxplot(x='col1',y='col2', data=df)

In [ ]:
# side-by-side box plot 'rank','salary','sex'
# sns.boxplot(x='col1',y='col2', data=dataframe, hue='col2')

In [ ]:
# Pairplot 
# sns.pairplot(dataframe)